body{
	background-color:black;





}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.header {
  padding: 0.2px;
  text-align: center;
  background: #041412;
  color: white;
  font-size: 15px;
}


.stat_posts{
	
	text-align:center;
	text-decoration:none;
	color: white;
	float:center;
	margin-top:10px;
	padding: .25em;
	border-style:solid;
	

	
	
}

a{


	color: white;


}

.container{

 	



}


.rss{

margin-top:500px;



}

.daily{
			
	text-align:center;
	float:center;
		

}


.img{

float:center;




}
